{% load static %}

<style>
  .hello-msg {
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }
</style>

<nav class="navBar bg-dark">
  <div class="right-wrap">
    <img class="logo" src="{% static 'images/logo.png' %}" />
    <span style="margin-left: 0.4rem; color: white; font-size: 1.2rem"
      >CMA</span
    >
  </div>
  <div class="left-wrap">
    <span style="font-size: 0.95rem; margin-right: 0.7rem" class="hello-msg"
      >Hello, {{ request.user }}</span
    >

    <div class="profile">
     <div class="img">
      <img
      class="profile-pic"
      src="{{ request.user.customer.profile_pic.url }}"
    />
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="25px"
      height="25px"
      fill="white"
      viewBox="0 0 18 18"
    >
      <path d="M5 8l4 4 4-4z" />
    </svg>
     </div>
      <ul class="drop-down">
        {% if request.user.is_staff %}
        <li >
          <a class="list link" href="{% url 'home' %}">Dashboard</a>
        </li>
        <li >
          <a class="list link" href="{% url 'products' %}">Products</a>
        </li>
        {% else %}
        <li >
          <a class="list link" href="{% url 'account' %}">Settings</a>
        </li>
        {% endif %}
        <li >
          <a class="list button" href="{% url 'logout' %}">Logout</a>
        </li>
      </ul>
    </div>
  </div>

  <script>
    document.querySelector(".profile .img").addEventListener("click", e => {
      document
        .querySelector(".profile .drop-down")
        .classList.toggle("drop-down-show");
      document.querySelector(".profile svg").classList.toggle("rotate");
    });
  </script>
</nav>
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="left-wrap">
  <img src="{% static 'images/logo.png' %}" />

  <span class="hello-msg">Hello, {{ request.user }}</span>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {% if request.user.is_staff %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'products' %}">Products</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'account' %}">Settings</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a
          style="color: white; margin: 1rem 0"
          class="hello-msg nav-link btn btn-primary"
          href="{% url 'logout' %}"
          >Logout</a
        >
      </li>
    </ul>
    </div>
  </div>
</nav> -->
